sqlparse==0.5.0
asgiref==3.8.1
Django==4.0.10
djangorestframework~=3.13.0
Django==5.0.6
djangorestframework==3.15.2
django-cors-headers==4.4.0
dj-rest-auth==6.0.0
django-allauth==0.63.3
idna==3.7
urllib3==2.2.2
certifi==2024.7.4
charset-normalizer==3.3.2
requests==2.32.3
drf-spectacular==0.27.2
rpds-py==0.18.1
inflection==0.5.1
attrs==23.2.0
jsonschema-specifications==2023.12.1
referencing==0.35.1
jsonschema==4.22.0
uritemplate==4.1.1
PyYAML==6.0.1
